/*Importaciones*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Gemunu+Libre:wght@200&family=Karla:wght@300&display=swap');
/*
font-family: 'Karla', sans-serif;
font-family: 'Gemunu Libre', sans-serif;
font-family: 'Bitter', serif;
*/
/*-----Estilos para todo el documento-----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a:link, a:visited, a:active {
    text-decoration:none;
}

/*-----Estilos Header-----*/
.cabecera{
    /*background: linear-gradient(#41A58D,#8F6B36, 5%);*/
    background: linear-gradient(rgb(65, 165, 141), rgb(143, 107, 54, 0.5));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gemunu Libre', sans-serif;
}
.cabecera__logo{
    height: 150px;
    width: 20%;
    margin: 10px 0 10px 20px;
    /*border: 1px solid black;*/
}
.logo__img{
    width: 90%;
    height: inherit;
}
.cabecera__barra-navegacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid black;*/
    width: 75%;
}
.barra-navegacion__apartados{
    display: flex;
    flex-wrap: wrap;
}
.barra-navegacion__apartados li{
    display: inline-block;
    border: 1px solid #888888;
    box-shadow: 1px 5px 5px #888888;
    background-color: #41A58D;
    padding: 15px;
    
}
.barra-navegacion__apartados li a{
    display: inline-block;
    color: aliceblue;
    font-size: 20px;
}
.apartados__iconos{
    display: inline-block;
    margin: 0 auto;
    height: 20px;
}

/*---------------------Main--------------------*/
main{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*--------------Section-Breeds-----------*/

main .section-breeds{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.breeds-filter{
    margin-top: 40px;
}

.breeds-filter__text{
    font-family: 'Gemunu Libre', sans-serif;
    color: #8F6B36;
    position: relative;
    float: left;
}
.breeds-filter__text #seccion{
    font-size: 60px;
    cursor: pointer;
}
.breeds-filter__text #seccion>span{
    color: #41A58D;
}
.breeds-filter__text #subseccion{ 
    position: absolute;
    top: 100%; 
    left: 0px;  
    background-color: #41A58D; 
    width: 360px;
    height: 392px; 
    z-index: 1;
    overflow: scroll;
    display: none;
}
#subseccion p{
    color: aliceblue;
    font-size: 26px;
    font-family: 'Karla', sans-serif;
}
#subseccion p:hover{
    color: #8F6B36;
    cursor: pointer;
}

.breed-image-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.breed-image-buttons .breed-imagen-container{
    border: 1px solid black;
    height: 350px;
    width: 50%;
    overflow: hidden;
    border-radius: 10%;
    position: relative;
}
.breed-imagen-container .breed-img{
    width: 100%;
}
.breed-imagen-container .breed-img-prev, .breed-imagen-container .breed-img-next{
    color: #8F6B36;
    width: 14%;
    height: 24%;
    position: absolute;
    top: 38%;
    font-size: 40px;
    cursor: pointer;
}
.breed-img-next{
    right: 0%;
}
.breed-img-prev{
    left: 0%;
}
.breed-image-buttons .breed-buttons{
    font-family: 'Gemunu Libre', sans-serif;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.breed-buttons .breed-name{
    color: #8F6B36;
    font-size: 40px;
}
.breed-buttons .breed-button__favorite-like-dislike{
    background-color: #41A58D;
    font-family: 'Gemunu Libre', sans-serif;
    color: aliceblue; 
    padding: 10px;
    border-radius: 15%;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
}
.breed-buttons .breed-button__favorite-like-dislike:hover{
    background-color: #8F6B36;
}
.breed-button__favorite-like-dislike .icono{
    margin-right: 8px;
    height: 30px;
}
.section-breeds .breed-details{
    color: #8F6B36;
    font-size: 28px;
    font-family: 'Karla', sans-serif;
    margin-top: 30px;
}

/*-----------------Section - Previous Views------------*/
main .section-previous-views{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 60px;
}
.section-previous-views .previous-views-title{
    color: #8F6B36;
    font-size: 40px;
    font-family: 'Bitter', serif;
    margin-bottom: 25px;
}
.section-previous-views .previous-views-container-divs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.previous-views-container-divs .previous-views-container-imgs{
    border: 1px solid;
    border-radius: 10%;
    width: 23%;
    height: 220px;
    overflow: hidden;
    position: relative;
}
.previous-views-container-imgs .img-previous{
    width: 100%;
}
.previous-views-container-imgs .img-previous:hover{
    transition: all ease 0.8s;
    opacity: 0.3;
}
.previous-views-container-imgs .name-dog-previous{
    position: absolute;
    top: 88%;
    left: 5%;
    color: #8F6B36;
    font-size: 15px;
    font-family: 'Bitter', serif;
}

/*------------Estilos Footer-------*/
.pie-pagina{
    background: linear-gradient(rgb(143, 107, 54, 0.5),rgb(65, 165, 141));
    color: aliceblue;
    font-family: 'Gemunu Libre', sans-serif;
    margin-top: 80px;
}
.pie-pagina__contenedor{
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.caja-logo-pie__img{
    height: 100px;
}

.pie-pagina__enlaces{
    display: flex;
    flex-direction: column;
    
}
.pie-pagina__enlaces a{
    color: aliceblue;
}
.pie-pagina__contact-me{
    display: flex;
    flex-direction: column;
}