/*Importaciones*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Gemunu+Libre:wght@200&family=Karla:wght@300&display=swap');
/*
font-family: 'Karla', sans-serif;
font-family: 'Gemunu Libre', sans-serif;
font-family: 'Bitter', serif;
*/
/*-----Estilos para todo el documento-----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a:link, a:visited, a:active {
    text-decoration:none;
}


/*-------------------Main---------------*/
main {
    width: 100%;
    background: linear-gradient(rgb(65, 165, 141), rgb(143, 107, 54, 0.9));
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
main .signIn-title{
    width: 100%;
    color: #8F6B36;
    font-family: 'Karla', sans-serif;
    font-size: 60px;
    margin-bottom: 70px;
}
main .signIn-section{
    max-width: 68%;
    margin: 0 auto;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.signIn-section .signIn-links-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}
.signIn-links-form .text{
    margin-bottom: 8px;
    font-family: 'Karla', sans-serif;
    font-size: 28px;
}
.signIn-links-form .link{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 24px;
    color: aliceblue;
    text-decoration: underline;
    margin-bottom: 35px;
}
.signIn-links-form .signIn-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.signIn-form>label{
    margin-bottom: 12px;
    font-family: 'Karla', sans-serif;
    font-size: 30px;
}
.signIn-form>input{
    border: 0;
    outline: none;
    background: none;
    border-bottom: 2px solid aliceblue;
    margin-bottom: 20px;
    color: #8F6B36;
    font-size: 22px;
    padding-bottom: 5px;
}
.signIn-form>a{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 22px;
    text-decoration: underline;
    color: aliceblue;
    margin-bottom: 5px; 
}
.signIn-form>button{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 25px;
    background-color: #41A58D;
    color: aliceblue;
    border: 0;
    border-radius: 20%;
    padding: 12px;
    margin-top: 20px;
    box-shadow: 1px 5px 5px #888888;
    cursor: pointer;
}
.signIn-form>button img{
    height: 22px;
    padding: 0px 5px;
}
.signIn-form>button:hover{
    transition: all ease 0.8s;
    background-color: #8F6B36;
}
.signIn-form>p{
    margin-top: 20px;
    font-family: 'Karla', sans-serif;
    text-align: center;
}
.signIn-section .section-logo-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%;
}
.section-logo-info .logo{
    width: 160px;
    margin: 0 auto;
}
.section-logo-info .info{
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    margin-top: 15px;
}

@media only screen and (min-width: 800px) and (max-width: 1095px)  {
    main .signIn-title {
        font-size: 50px;
    }

    /*------Section sign in------*/
    .signIn-links-form .text {
        font-size: 22px;
    }

    .signIn-links-form .link {
        font-size: 22px;
    }

    .signIn-form>label {
        font-size: 25px;
    }

    .signIn-form>input {
        font-size: 19px;
    }

    .signIn-form>a {
        font-size: 19px;
    }

    .signIn-form>button {
        font-size: 21px;
    }

    /*------Section logo-info----*/
    .section-logo-info .logo {
        width: 120px;
    }

    .section-logo-info .info {
        font-size: 21px;
    }
}

@media only screen and (min-width: 657px) and (max-width: 799px)  {
    main {
        flex-direction: row;
        justify-content: start;
    }

    main .signIn-title {
        font-size: 50px;
    }

    /*------Section sign in------*/
    .signIn-section .signIn-links-form {
        width: 100%;
    }

    .signIn-links-form .text {
        font-size: 22px;
    }

    .signIn-links-form .link {
        font-size: 22px;
    }

    .signIn-form>label {
        font-size: 25px;
    }

    .signIn-form>input {
        font-size: 19px;
    }

    .signIn-form>a {
        font-size: 19px;
    }

    .signIn-form>button {
        font-size: 21px;
    }

    /*------Section logo-info----*/

    .signIn-section .section-logo-info {
        width: 100%;
        margin-top: 70px;
    }

    .section-logo-info .logo {
        width: 120px;
    }

    .section-logo-info .info {
        font-size: 21px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 656px)  {
    main {
        width: 100%;
        flex-direction: row;
        justify-content: start;
    }

    main .signIn-title {
        font-size: 50px;
    }

    /*------Section sign in------*/
    .signIn-section .signIn-links-form {
        width: 100%;
    }

    .signIn-links-form .text {
        font-size: 22px;
    }

    .signIn-links-form .link {
        font-size: 22px;
    }

    .signIn-form>label {
        font-size: 25px;
    }

    .signIn-form>input {
        font-size: 19px;
    }

    .signIn-form>a {
        font-size: 19px;
    }

    .signIn-form>button {
        font-size: 21px;
    }

    /*------Section logo-info----*/

    .signIn-section .section-logo-info {
        width: 100%;
        margin-top: 70px;
    }

    .section-logo-info .logo {
        width: 120px;
    }

    .section-logo-info .info {
        font-size: 21px;
    }
}

@media (max-width: 449px)  {
    main {
        width: 100%;
        flex-direction: row;
        justify-content: start;
    }

    main .signIn-title {
        font-size: 50px;
        margin: 20px 0;
    }

    main .signIn-section {
        margin: 0 70px;
        padding: 20px 0;
    }

    /*------Section sign in------*/
    .signIn-section .signIn-links-form {
        width: 100%;
    }

    .signIn-links-form .text {
        font-size: 22px;
    }

    .signIn-links-form .link {
        font-size: 22px;
    }

    .signIn-form>label {
        font-size: 25px;
    }

    .signIn-form>input {
        font-size: 19px;
    }

    .signIn-form>a {
        font-size: 19px;
    }

    .signIn-form>button {
        font-size: 21px;
    }

    /*------Section logo-info----*/

    .signIn-section .section-logo-info {
        width: 100%;
        margin-top: 70px;
    }

    .section-logo-info .logo {
        width: 120px;
    }

    .section-logo-info .info {
        font-size: 21px;
    }
}