/*Importaciones*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Gemunu+Libre:wght@200&family=Karla:wght@300&display=swap');
/*
font-family: 'Karla', sans-serif;
font-family: 'Gemunu Libre', sans-serif;
font-family: 'Bitter', serif;
*/
/*-----Estilos para todo el documento-----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
/*---------------HTML body------------*/
html{
    height: 100%;
    background: linear-gradient(rgb(65, 165, 141), rgb(143, 107, 54, 0.9));
}
body{
    height: 100%;
}

/*-------------------Main---------------*/
main {
    width: 68%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
main .register-title{
    color: #8F6B36;
    font-family: 'Karla', sans-serif;
    font-size: 60px;
    margin-bottom: 50px;
}
main .register-section{
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.register-section .register-links-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}
.register-form>a{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 18px;
    text-decoration: underline;
    color: aliceblue;
    margin-bottom: 5px; 
}
.register-links-form .text{
    margin-bottom: 8px;
    font-family: 'Karla', sans-serif;
    font-size: 25px;
}
.register-links-form .link{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 24px;
    color: aliceblue;
    text-decoration: underline;
    margin-bottom: 35px;
}
.register-links-form .register-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.register-form>label{
    margin-bottom: 12px;
    font-family: 'Karla', sans-serif;
    font-size: 30px;
}

.form__group>input{
    border: 0;
    outline: none;
    background: none;
    border-bottom: 2px solid aliceblue;
    margin-bottom: 20px;
    color: #8F6B36;
    font-size: 22px;
    padding-bottom: 5px;
    width: 90%;
}
.register-form .label-checkbox{
    font-size: 18px;
}
.label-checkbox input{
    margin-right: 5px;
}
.label-checkbox a{
    color: aliceblue;
    text-decoration: underline;
}

.register-form>button{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 25px;
    background-color: #41A58D;
    color: aliceblue;
    border: 0;
    border-radius: 20%;
    padding: 12px;
    margin-top: 20px;
    box-shadow: 1px 5px 5px #888888;
    cursor: pointer;
}
.register-form>button img{
    height: 22px;
    padding: 0px 5px;
}
.register-form>button:hover{
    transition: all ease 0.8s;
    background-color: #8F6B36;
}
.register-form>p{
    margin-top: 20px;
    font-family: 'Karla', sans-serif;
    text-align: center;
}
.register-section .section-logo-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%;
}
.section-logo-info .logo{
    width: 160px;
    margin: 0 auto;
}
.section-logo-info .info{
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    margin-top: 15px;
}
.message__error{
    display: none;
}
.form__group i{
    display: none;
} 
.message__submit-good {
    font-size: 30px;
    color: green;
    display: none;
}
.message__submit-bad {
    font-size: 30px;
    color: red;
    display: none;
}

/*Estilos para validacion de formulario*/

.group__correct{
    color: green;
}

.group__incorrect, f{
    color: red;
}

