/*Importaciones*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Gemunu+Libre:wght@200&family=Karla:wght@300&display=swap');
/*
font-family: 'Karla', sans-serif;
font-family: 'Gemunu Libre', sans-serif;
font-family: 'Bitter', serif;
*/
/*-----Estilos para todo el documento-----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a:link, a:visited, a:active {
    text-decoration:none;
}

/*-----Estilos Header-----*/
.header{
    /*background: linear-gradient(#41A58D,#8F6B36, 5%);*/
    background: linear-gradient(rgb(65, 165, 141), rgb(143, 107, 54, 0.5));
    font-family: 'Gemunu Libre', sans-serif;
}

.header .nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.nav .logo{
    height: 150px;
    margin: 10px 0 10px 20px;
}
.logo-img{
    height: inherit;
}

.nav-menu{
    display: flex;
    flex-wrap: wrap;
}

.nav-menu .nav-menu-item, .nav-menu-login .nav-menu-item{
    display: block;
    font-size: 27px;
    border: 1px solid #888888;
    box-shadow: 1px 5px 5px #888888;
    background-color: #41A58D;
    padding: 15px;
    text-transform: uppercase;
    
}
.nav-menu .nav-menu-item a, .nav-menu-login .nav-menu-item a{
    color: aliceblue;
    display: block;
}

.nav-menu-login .nav-menu-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-menu-login .nav-menu-item>a{
    display: flex;
    padding-left: 5px;
}

.apartados__iconos>i{
    color: #8F6B36;
}

.nav-toggle{
    color:#8F6B36;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 30px;
    cursor: pointer;
    display: none;
}
.nav-toggle img{
    height: 50px;
}

/*--------------------------Main------------------------*/
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 69%;
    margin: 0 auto;
}

/*--------Section - Upload Image-------*/
main .uploadImage-text{
    color: #8F6B36;
    font-size: 50px;
    font-family: 'Bitter', serif;
    margin-top: 40px;
}

main .section-uploadImage{
    margin-top: 40px;
}

.section-uploadImage .form-upload{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-upload .form-image{
    width: 41%;
}

.form-image .container-uploadImage{
    border: 1px solid black;
    width: 100%;
    height: 430px;
    margin-bottom: 30px;
 
}

.container-uploadImage .uploadImage{
    width: 100%;
    cursor: pointer;
}
@supports(object-fit: cover){
    .container-uploadImage .uploadImage{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.form-upload .form-inputs{
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.form-inputs input, .form-image input{
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    height: 70px;
    outline: none;
    border: 0;
    border-radius: 10%;
    background-color: #41A58D;
    padding: 17px 15px;
    color: aliceblue;
    width: 100%;
}
::placeholder{
    color: white;
}
.form-upload .button-uploadImage{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 40px;
    background-color: #41A58D;
    color: aliceblue;
    border: 0;
    border-radius: 10%;
    padding: 14px;
    margin-top: 40px;
    box-shadow: 1px 5px 5px #888888;
    cursor: pointer;
    width: 100%;
    height: 74px;
}
.form-upload .button-uploadImage:hover{
    background-color: #8F6B36;
}

/*-----------------Section - Favorites------------*/
main .section-favorites{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 70px;
}
.section-favorites .favorite-text{
    color: #8F6B36;
    font-size: 40px;
    font-family: 'Bitter', serif;
    margin-bottom: 25px;
}
.favorite-text>img{
    font-size: 30px;
    color: #8F6B36;
}
.section-favorites .container-img-favorites{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-img-favorites .favorite-img-div{
    border: 1px solid;
    border-radius: 10%;
    width: 21%;
    height: 265px;
    overflow: hidden;
    position: relative;
}

.favorite-img-div>i{
    position: absolute;
    top: 4%;
    left: 5%;
    font-size: 35px;
    cursor: pointer;
    color: aliceblue;
}

.favorite-img-div .favorite-img{
    width: 100%;
}
@supports(object-fit: cover){
    .favorite-img-div .favorite-img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.favorite-img-div .name-dog-favorite{
    position: absolute;
    top: 83%;
    left: 7%;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Bitter', serif;
    background-color: #41A58D;
    padding: 6px;
    font-weight: bold;
}

/*-----------------Section - Upload Images------------*/
main .section-myUploadImages{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 60px;
}
.section-myUploadImages .myUploadImages-text{
    color: #8F6B36;
    font-size: 40px;
    font-family: 'Bitter', serif;
    margin-bottom: 25px;
}
.myUploadImages-text>img{
    font-size: 30px;
    color: #8F6B36;
}
.section-myUploadImages .container-img-myUploadImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-img-myUploadImages .myUploadImages-container{
    border: 1px solid;
    border-radius: 10%;
    width: 21%;
    height: 265px;
    overflow: hidden;
    position: relative;
}
.myUploadImages-container .myUploadImages-img{
    width: 100%;
}
@supports(object-fit: cover){
    .myUploadImages-container .myUploadImages-img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.myUploadImages-container .name-dog-upload{
    position: absolute;
    top: 83%;
    left: 7%;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Bitter', serif;
    background-color: #41A58D;
    padding: 6px;
    font-weight: bold;
}

/*-----------------Section - Previous Views------------*/
main .section-previous-views{
    margin-top: 60px;
    width: 100%;
}
.section-previous-views .previous-views-title{
    color: #8F6B36;
    font-size: 40px;
    font-family: 'Bitter', serif;
    margin-bottom: 25px;
}
.previous-views-title>i{
    font-size: 30px;
    color: #8F6B36;
}
.section-previous-views .previous-views-container-divs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.previous-views-container-divs .previous-views-container-imgs{
    border: 1px solid;
    border-radius: 10%;
    width: 21%;
    height: 265px;
    overflow: hidden;
    position: relative;
}
.previous-views-container-imgs .img-previous{
    width: 100%;
}
@supports(object-fit: cover){
    .previous-views-container-imgs .img-previous{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
.previous-views-container-imgs .name-dog-previous{
    position: absolute;
    top: 83%;
    left: 7%;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Bitter', serif;
    background-color: #41A58D;
    padding: 6px;
    font-weight: bold;
}

/*-----Estilos Footer-----*/
.pie-pagina{
    background: linear-gradient(rgb(143, 107, 54, 0.5),rgb(65, 165, 141));
    color: aliceblue;
    font-family: 'Gemunu Libre', sans-serif;
    margin-top: 60px;
}
.pie-pagina__contenedor{
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.pie-pagina__contenedor .pie-pagina__caja-logo-pie {
    font-size: 24px;
    width: 25%;
    padding: 25px 0 25px 15px;
}

.pie-pagina__caja-logo-pie .caja-logo-pie__img{
    height: 120px;
}

.pie-pagina__contenedor .pie-pagina__enlaces{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    align-items: center;
    padding: 25px 0;
    
}
.pie-pagina__enlaces a{
    color: aliceblue;
    font-size: 24px;
    padding: 3px 0;
}
.pie-pagina__contenedor .pie-pagina__contact-me{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    align-items: end;
    padding: 25px 15px 25px 0px;
}
.pie-pagina__contact-me p{
    margin-bottom: 8px;
    font-size: 28px;
    width: 60%;
}
.pie-pagina__contact-me .pie-pagina__icons{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pie-pagina__icons>i{
    color: #8F6B36;
    font-size: 45px;
}

/*------------------------------MEDIA-QUERY-------------*/

@media only screen and (min-width: 1630px) and (max-width: 1704px)  {
    /*-----Section Favorites-----*/
    .container-img-favorites .favorite-img-div {
        height: 230px;
    }
    /*----- Section Upload------*/
    .container-img-myUploadImages .myUploadImages-container {
        height: 230px;
    }
    /*------ Section Previous views------*/
    .previous-views-container-divs .previous-views-container-imgs {
        height: 230px;
    }
}

@media only screen and (min-width: 1255px) and (max-width: 1629px)  {
    /*-----Section Favorites-----*/
    .container-img-favorites .favorite-img-div {
        width: 28%;
        height: 250px;
    }

    .container-img-favorites .favorite-img-div:nth-last-child(-n+1) {
        display: none;
    }

    /*----- Section Upload------*/
    .container-img-myUploadImages .myUploadImages-container{
        width: 28%;
        height: 250px;
    }

    .container-img-myUploadImages .myUploadImages-container:nth-last-child(-n+1) {
        display: none;
    }

    /*------ Section Previous views------*/
    .previous-views-container-divs .previous-views-container-imgs{
        width: 28%;
        height: 250px;
    }

    .previous-views-container-divs .previous-views-container-imgs:nth-last-child(-n+1) {
        display: none;
    }
}

@media only screen and (min-width: 980px) and (max-width: 1254px)  {
    /*----Header----*/
    .nav-menu .nav-menu-item, .nav-menu-login .nav-menu-item {
        font-size: 22px;
    }

    /*-----Section Favorites-----*/
    .container-img-favorites .favorite-img-div {
        width: 40%;
        height: 250px;
    }

    .container-img-favorites .favorite-img-div:nth-last-child(-n+2) {
        display: none;
    }

    /*----- Section Upload------*/
    .container-img-myUploadImages .myUploadImages-container{
        width: 40%;
        height: 250px;
    }

    .container-img-myUploadImages .myUploadImages-container:nth-last-child(-n+2) {
        display: none;
    }

    /*------ Section Previous views------*/
    .previous-views-container-divs .previous-views-container-imgs{
        width: 40%;
        height: 250px;
    }

    .previous-views-container-divs .previous-views-container-imgs:nth-last-child(-n+2) {
        display: none;
    }

    /*-----Footer----------*/
    .pie-pagina__icons>i {
        margin: 0 10px 8px 0px;
    }
}

/* menu hamburguesa*/
@media (max-width: 860px){
    
    .nav .logo{
        height: 90px;
    }

    .nav-menu{
        flex-direction: column;
        margin-right: 20px;
        background: rgb(65, 165, 141, 0.5);
        position: fixed;
        top: 110px;
        width: 100%;
        padding: 20px 0;
        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu .nav-menu-item {
        box-shadow: none;
    }
    .nav-menu .nav-menu-item:hover {
        transition: all ease 0.5s;
        background-color: #8F6B36;
    }

    .nav-toggle{
        display: block;
    }

    .nav-menu_visible{
        left: 0;
        z-index: 1;
    }
    .most-liked-div__caja-img, .more-disliked-div__caja-img {
        height: 180px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 979px)  {
    /*----Header----*/
    .nav-menu .nav-menu-item, .nav-menu-login .nav-menu-item {
        font-size: 22px;
    }

    main .uploadImage-text {
        font-size: 35px;
    }
    
    .form-upload .form-image {
        width: 100%;
    }

    .form-image .container-uploadImage {
        width: 72%;
        height: 350px;
        margin: 0 auto;
    }

    .form-inputs input, .form-image input {
        margin: 30px 0 0 0;
        height: 62px;
    }

    .form-upload .form-inputs {
        width: 100%;
    }

    .form-upload .button-uploadImage {
        font-size: 32px;
        height: 62px;
    }

    /*-----Section Favorites-----*/

    .section-favorites .favorite-text {
        font-size: 32px;
    }

    .container-img-favorites .favorite-img-div {
        width: 44%;
        height: 210px;
    }

    .favorite-img-div .name-dog-favorite {
        top: 78%;
        left: 7%;
        font-size: 18px;
    }

    .container-img-favorites .favorite-img-div:nth-last-child(-n+2) {
        display: none;
    }

    /*----- Section Upload------*/
    .section-myUploadImages .myUploadImages-text {
        font-size: 32px;
    }

    .container-img-myUploadImages .myUploadImages-container{
        width: 44%;
        height: 210px;
    }

    .container-img-myUploadImages .myUploadImages-container:nth-last-child(-n+2) {
        display: none;
    }

    .myUploadImages-container .name-dog-upload {
        top: 78%;
        left: 7%;
        font-size: 18px;
    }

    /*------ Section Previous views------*/
    .section-previous-views .previous-views-title {
        font-size: 32px;
    }

    .previous-views-container-divs .previous-views-container-imgs{
        width: 44%;
        height: 210px;
    }

    .previous-views-container-divs .previous-views-container-imgs:nth-last-child(-n+2) {
        display: none;
    }

    .previous-views-container-imgs .name-dog-previous {
        top: 78%;
        left: 7%;
        font-size: 18px;
    }

    /*-----Footer----------*/
    .pie-pagina__caja-logo-pie .caja-logo-pie__img {
        height: 100px;
    }

    .pie-pagina__contenedor .pie-pagina__caja-logo-pie {
        font-size: 22px;
    }

    .pie-pagina__icons>i {
        margin: 0 5px 8px 0px;
        font-size: 40px;
    }

    .pie-pagina__enlaces a {
        font-size: 22px;
    }

    .pie-pagina__contact-me p {
        font-size: 25px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 699px)  {
    /*----Header----*/
    .nav-menu .nav-menu-item, .nav-menu-login .nav-menu-item {
        font-size: 22px;
    }

    main {
        width: 65%;
    }
    main .uploadImage-text {
        font-size: 32px;
    }
    
    .form-upload .form-image {
        width: 100%;
    }

    .form-image .container-uploadImage {
        width: 100%;
        height: 312px;
        margin: 0 auto;
    }

    .form-inputs input, .form-image input {
        margin: 30px 0 0 0;
        height: 62px;
    }

    .form-upload .form-inputs {
        width: 100%;
    }

    .form-upload .button-uploadImage {
        font-size: 32px;
        height: 62px;
    }

    /*-----Section Favorites-----*/

    .section-favorites .favorite-text {
        font-size: 28px;
    }

    .container-img-favorites .favorite-img-div {
        width: 100%;
        height: 300px;
    }

    .favorite-img-div .name-dog-favorite {
        top: 82%;
        left: 7%;
        font-size: 18px;
    }

    .container-img-favorites .favorite-img-div:nth-last-child(-n+3) {
        display: none;
    }

    /*----- Section Upload------*/
    .section-myUploadImages .myUploadImages-text {
        font-size: 28px;
    }

    .container-img-myUploadImages .myUploadImages-container{
        width: 100%;
        height: 300px;
    }

    .container-img-myUploadImages .myUploadImages-container:nth-last-child(-n+3) {
        display: none;
    }

    .myUploadImages-container .name-dog-upload {
        top: 82%;
        left: 7%;
        font-size: 18px;
    }

    /*------ Section Previous views------*/
    .section-previous-views .previous-views-title {
        font-size: 28px;
    }

    .previous-views-container-divs .previous-views-container-imgs{
        width: 100%;
        height: 300px;
    }

    .previous-views-container-divs .previous-views-container-imgs:nth-last-child(-n+3) {
        display: none;
    }

    .previous-views-container-imgs .name-dog-previous {
        top: 82%;
        left: 7%;
        font-size: 18px;
    }

    /*-----Footer----------*/
    .pie-pagina__caja-logo-pie .caja-logo-pie__img {
        height: 82px;
    }

    .pie-pagina__contenedor .pie-pagina__caja-logo-pie {
        font-size: 18px;
    }

    .pie-pagina__icons>i {
        margin: 0 4px 8px 0px;
        font-size: 26px;
    }

    .pie-pagina__enlaces a {
        font-size: 17px;
    }

    .pie-pagina__contact-me p {
        font-size: 22px;
    }
}